<p id="notice"><%= notice %></p>

<p>
  <strong>Hoge:</strong>
  <%= @sample.hoge %>
</p>

<p>
  <strong>Fuga:</strong>
  <%= @sample.fuga %>
</p>

<p>
  <strong>Piyo:</strong>
  <%= @sample.piyo %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
